{% extends "App/padre.html" %}
{% load static %}
{% block titulo %}
<h1 class="mb-0">
    Resultados de busqueda para:
    <span class="text-primary">{{nombre}}</span>
</h1>
{% endblock %}
{% block contenido %}
{%if documentales %}
<ul>
    
    {% for documental in documentales%}
    <p>Nombre: {{documental.nombre}}</p>
    <p>Tipo: {{documental.tipo}}</p>
    <p>Duración (min):{{documental.duracion}}</p>
    <p>Autor:{{documental.autor}}</p>
    <p style="border-bottom: 1px solid #bd5d38;">Fecha: {{documental.fecha}}</p>
    {% endfor %}
</ul>
{% else %}
<p>No hay resultados de busqueda</p>
{% endif%}

{% endblock %}
