{% extends "App/padre.html" %}
{% load static %}
{% block titulo %}
<h1>About me</h1>
{% endblock %}
{% block contenido %}
<h3>Hola! Soy Pol Rivarola,</h3>
<p>Naci el 21 de Abril de 2001, actualmente estudio Ing. de Software en la Universidad 
    Siglo 21. Arranque con la programacion hace 3 años y, ademas de la universidad, mis fuentes de informacion mas importantes han sido 
cursos y video de YouTube. Eh realizado cursos tanto de Front end como de Back end, y aunque estos ultimos han sido mas interesantes, considero que tener mas herramientas en la caja \
nunca viene mal para un programador.</p>
<br>
<p>Espero que disfruten la pagina tanto como yo disfrute hacerla!</p>

{% endblock %}