{% extends "App/padre.html" %}
{% load static %}
{% block titulo %}
<h1 class="mb-0">
    Resultados de busqueda para:
    <span class="text-primary">{{nombre}}</span>
</h1>
{% endblock %}
{% block contenido %}
{%if series %}
<ul>
    
    {% for serie in series%}
    <p>Nombre: {{serie.nombre}}</p>
    <p>Tipo: {{serie.tipo}}</p>
    <p>Capitulos: {{serie.capitulos}}</p>
    <p>Autor:{{serie.autor}}</p>
    <p style="border-bottom: 1px solid #bd5d38;">Fecha: {{serie.fecha}}</p>

    {% endfor %}
</ul>
{% else %}
<p>No hay resultados de busqueda</p>
{% endif%}

{% endblock %}
