{% extends "App/padre.html" %}
{% load static %}
{% block titulo %}
<h1 class="mb-0">
    Resultados de busqueda para:
    <span class="text-primary">{{nombre}}</span>
</h1>
{% endblock %}
{% block contenido %}
{%if pelis %}
<ul>
    
    {% for peli in pelis%}
    <p>Nombre: {{peli.nombre}}</p>
    <p>Tipo: {{peli.tipo}}</p>
    <p>Duración (min):{{peli.duracion}}</p>
    <p>Autor:{{peli.autor}}</p>

    <p style="border-bottom: 1px solid #bd5d38;">Fecha: {{peli.fecha}}</p>
    {% endfor %}
</ul>
{% else %}
<p>No hay resultados de busqueda</p>
{% endif%}

{% endblock %}
